body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f2f4;
}

header {
  background-color: #ffffff;
  color: #fff;
  padding: 0.6rem 0;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo img {
  max-width: 35%;
  margin-top: 0.3rem;
}

.search {
  background-color: #f0f5ff;
  border: none;
  margin: 1rem 0;
}

input:focus {
  outline: none;
}

.header_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

.header_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_search input {
  padding: 1.2rem;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
  width: 80%;
  box-sizing: border-box;
}

.header_search button {
  padding: 0.67rem;
  background-color: #ff9f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1.3rem;
}
.header_search button:hover {
  background-color: #ff8c00;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.header_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.header_nav ul li button {
  padding: 0.6rem 1rem;
  background-color: #2a55e5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header_nav ul li button:hover {
  background-color: #1a3cd2;
}
.header_nav li {
  margin-right: 0;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  width: 100%;
  height: auto;
  padding: 1rem 1.2rem;
}

.items {
  margin-top: 1rem;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.breaker {
  margin-top: 1rem;
}

a {
  width: 1rem;
  height: 1.5rem;
}

.mid-banner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.logo {
  width: 100%;
}

.discount-banner {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.discount-banner img {
  max-width: 100%;
  height: auto;
}

.lower-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  place-content: center;
  place-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: #ffffff;
}

.lower-banner-heading {
  grid-column: span 2;
  text-align: center;
}

.lower-banner-ad {
  border: 0 solid #e0e0e0;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 90%;
}

.lower-banner-ad img {
  width: 10.2rem;
  height: 12rem;
}

footer {
  background-color: #212121;
  color: #5f6d6d;
  padding: 0.5rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 0;
  width: 100%;
}

.footer-section h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #7a8787;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}
@media (max-width: 430px) and (min-width: 340px) {
  .header_search {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .header_search input {
    width: 100%;
    margin: 0.5rem auto;
  }

  .header_search button {
    width: 30%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .header_wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10px;
  }
  .header_nav {
    margin-bottom: 1rem;
  }
  .header_search button {
    width: 25%;
    margin: 0 0.7rem;
  }
  .item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    width: 100%;
    height: auto;
    padding-right: 0;
    padding-left: 4.8rem;
  }

  .lower-banner {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .lower-banner-heading {
    grid-column: span 3;
    text-align: center;
  }
  .lower-banner-ad {
    height: 18rem;
    margin: 1rem auto;
  }
  .lower-banner-ad img {
    width: 100%;
    height: 100%;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .header_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header_logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0;
  }
  .header_nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
  }

  .item-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-between;
    margin: 0 auto;
    width: 1430px;
    gap: 5px;
    height: 115px;
  }
  .mid-banner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: center;
  }

  .lower-banner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1510px;
    margin: 0;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lower-banner-heading {
    font-size: 2rem;
    grid-column: span 6;
    text-align: center;
    margin-bottom: 0;
  }

  .lower-banner-ad {
    margin: 0.7rem;
    padding: 0;
    width: 210px;
  }

  .lower-banner-ad img {
    margin-top: 0;
    margin-bottom: 0.5rem;
    width: 195px;
    height: 240px;
  }
  .lower-banner-ad span {
    text-align: center;
  }
  .discount-banner {
    max-width: 1930px;
  }
  .discount-banner img {
    max-width: 100%;
    height: auto;
  }

  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (orientation: portrait) {
  .item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    width: 100%;
    height: auto;
    padding-right: 0;
    padding-left: 0.2rem;
  }

  .lower-banner {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .lower-banner-heading {
    grid-column: span 3;
    text-align: center;
    margin: 0;
  }
  .lower-banner-ad {
    height: 8rem;
    margin: 1rem auto;
    font-size: 0.7rem;
  }
  .lower-banner-ad img {
    margin: 0.3rem auto;
    width: 100%;
    height: 100%;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
  }
}
@media (aspect-ratio: 16/9) {
  .header_wrapper {
    padding: 2vh 3vw;
  }

  .header_logo img {
    max-width: 25%;
  }

  .item-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .discount-banner img {
    max-width: 70%;
    margin: 0 auto;
  }

  .lower-banner {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 1vh 2vw;
  }
}
